<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Suman Kumari Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1><a href="index.html">Suman Kumari</a></h1>

      <h2>I'm an aspiring <span>Data Scientist</span> focused on <span>AI & ML</span>, driven by curiosity and innovation.</h2>
    
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#education">Education</a></li>
          <li><a class="nav-link" href="#experiences">Experiences</a></li>
          <li><a class="nav-link" href="#portfolio">Projects</a></li>
          <li><a class="nav-link" href="#contact">Contact Me</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="https://github.com/sSumankumari/" class="github"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/sumaninsights/" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="sumank.ds1@gmail.com" class="email"><i class="bi bi-envelope"></i></a>
        <a href="https://x.com/SumanKri023" class="twitter"><i class="bi bi-twitter"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">
    
      <div class="section-title mb-4">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
            <img src="../static/img/me.jpg" class="img-fluid circular-image" alt="">
        </div>

        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3 class="mt-4">Aspiring Data Scientist Specializing in AI &amp; ML</h3>
          <p>
              I'm passionate about AI and dedicated to shaping a future where intelligent solutions drive meaningful change. With a BTech in Computer Science, I specialize in machine learning, AI, and data science. My strength lies in simplifying complex data to uncover valuable insights that make a real impact.
          </p>
          <p>
              My journey is fueled by curiosity and a desire to predict trends and tell compelling stories through data analysis. I thrive on turning intricate concepts into practical outcomes that contribute positively to our evolving technology landscape.
          </p>
          <p>
              Envisioning a future where technology and data converge for positive impact, I am steadfast in my path towards becoming a data scientist. I am committed to mastering advanced techniques in AI and ML, aiming to leverage my skills to solve complex challenges and drive innovation.
          </p>
        </div>
      </div>

    </div><!-- End About Me -->


    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Python <i class="val">95%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">C & C++ <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Java <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">DSA <i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Web Development <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Machine Learning <i class="val">85%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Exploratory Data Analysis <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Deep Learning <i class="val">55%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">NLP <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>

    </div><!-- End Skills -->

    <!-- ======= Interests ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Areas of Interest</h2>
      </div>
    
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line" style="color: #ffbb2c;"></i>
            <h3>Machine Learning Models</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
            <h3>Natural Language Processing (NLP)</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
            <h3>Prompt Engineering</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-python-line" style="color: #4b8f2b;"></i>
            <h3>Python Programming</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-bar-chart-fill" style="color: #fe8a71;"></i>
            <h3>Data Analysis</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-bar-chart-2-fill" style="color: #ffbb2c;"></i>
            <h3>Data Visualization</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-deep-learning-line" style="color: #ff56ff;"></i>
            <h3>Deep Learning Techniques</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-chat-3-line" style="color: #b38e95;"></i>
            <h3>Chatbot Development</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-file-code-line" style="color: #424cf5;"></i>
            <h3>LLMs (Large Language Models)</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-artificial-intelligence-line" style="color: #ff9f43;"></i>
            <h3>Gen AI (Generative AI)</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-model-s-line" style="color: #5c940d;"></i>
            <h3>Model Deployment</h3>
          </div>
        </div>
      </div>    

    </div><!-- End Interests -->

  </section><!-- End About Section -->

  <!-- ======= Education Section ======= -->
  <section id="education" class="education">
    <div class="container">
      <div class="section-title">
        <h2>My Education</h2>
      </div>

      <div class="row">
        <div class="col-lg-4 logo-center">
          <img src="../static/icons/amitylogo.png" alt="Amity University Logo" width="250" height="250" class="img-fluid">
        </div>
        <div class="col-lg-8">
          <div class="edu">
            <h3 class="education-title">Education</h3>
            <div class="education-item">
              <h4>Bachelor's in Computer Science Engineering</h4>
              <h5>2022 - Present</h5>
              <p><em>Amity University Patna, Bihar</em></p>
              <p>I am pursuing a Bachelor's degree in Computer Science Engineering at Amity University Patna, Bihar, with a keen interest in Artificial Intelligence (AI) and Machine Learning (ML).</p>
              <p>Amity University Patna is a globally recognized institution known for its academic excellence and research-focused approach. The university provides a conducive environment for learning and innovation, helping students achieve their academic and professional goals.</p>
              <p>In addition to my formal education, I actively engage in coding on various platforms to enhance my skills and stay updated with the latest technologies.</p>
              <div class="row coding-platforms">
                <div class="col-lg-3 col-md-4">
                  <a href="https://leetcode.com/u/sSumankumari/" target="_blank">
                    <img src="../static/icons/leetcode_logo.png" width="40" height="50" alt="LeetCode">
                  </a>
                  <a href="https://www.hackerrank.com/profile/sumankumaripatn1" target="_blank">
                    <img src="../static/icons/hackerrank_logo.svg" width="40" height="50" alt="Hackerrank">
                  </a>
                  <a href="https://www.geeksforgeeks.org/" target="_blank">
                    <img src="../static/icons/gfg.png" width="40" height="50" alt="GeeksforGeeks">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="section-title mt-5">
        <h2>Certifications</h2>
      </div>

      <div class="row certifications">
        <div class="col-lg-4 col-md-6 icon-box">
          <div class="icon"><i class="bi bi-bar-chart-line-fill"></i></div>
          <h4 class="title">Data Science for Engineers</h4>
          <p class="description">Completed certification course on Data Science for Engineers from IIT Madras, focusing on statistical analysis, data modeling, and machine learning techniques.</p>
          <a href="https://archive.nptel.ac.in/content/noc/NOC23/SEM2/Ecertificates/106/noc23-cs97/Course/NPTEL23CS97S3437286910125385.pdf" target="_blank">
            <button>View</button>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 icon-box mt-5 mt-md-0">
          <div class="icon"><i class="bi bi-pie-chart-fill"></i></div>
          <h4 class="title">Data Analytics with Python</h4>
          <p class="description">Learned data analytics with Python from IIT Roorkee, covering data manipulation, visualization, and statistical analysis using libraries like Pandas and Matplotlib.</p>
          <a href="https://archive.nptel.ac.in/content/noc/NOC24/SEM1/Ecertificates/106/noc24-cs20/Course/NPTEL24CS20S96440109930753779.pdf" target="_blank">
            <button>View</button>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 icon-box mt-5 mt-lg-0">
          <div class="icon"><i class="bi bi-lightbulb-fill"></i></div>
          <h4 class="title">Introduction to Machine Learning</h4>
          <p class="description">An introductory course on Machine Learning from Great Learning, exploring basic algorithms, supervised and unsupervised learning, and practical applications in various domains.</p>
          <a href="https://verify.mygreatlearning.com/verify/BSFKUZHW" target="_blank">
            <button>View</button>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 icon-box mt-5">
          <div class="icon"><i class="bi bi-code-slash"></i></div>
          <h4 class="title">Full Stack Web Development</h4>
          <p class="description">Completed a comprehensive course on Full Stack Web Development from Internshala, covering both frontend and backend technologies, including HTML, CSS, JavaScript, and databases.</p>
          <a href="https://trainings.internshala.com/view_certificate/i93wah21v01/decpl2ondbo/" target="_blank">
            <button>View</button>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 icon-box mt-5">
          <div class="icon"><i class="bi bi-box-arrow-in-right"></i></div>
          <h4 class="title">Postman API Fundamentals Student Expert</h4>
          <p class="description">Gained expertise in API testing and automation through the Postman API Fundamentals course, enhancing development and testing efficiency.</p>
          <a href="https://badgr.com/public/assertions/0tayQ3iyTQGMV0m_a3OuBA" target="_blank">
            <button>View</button>
          </a>
        </div>
      </div>
      <div class="more">
        <a href="https://drive.google.com/drive/folders/1k3-m-SfDYiwgGhEOeRRx8bdpiW7ToswU"><button>More Certificates</button></a>
      </div>
    </div>
  </section>
  <!-- End Education Section -->

  <!-- ======= Experiences Section ======= -->
  <section id="experiences" class="experiences">
    <div class="container">
      <div class="section-title">
        <h2>Experiences</h2>
      </div>

      <div class="row">
        <div class="col-lg-4 logo-center">
          <a href="https://www.cloudcounselage.com/" target="_blank">
            <img src="../static/icons/CCPL_logo.webp" alt="Cloud Counselage Pvt. Ltd. Logo" width="150" height="150" class="img-fluid">
          </a>
        </div>
        <div class="col-lg-8">
          <div class="exp">
            <h3 class="company-title">Cloud Counselage Pvt. Ltd.</h3>
            <div class="experience-item">
              <h5>Machine Learning Intern</h5>
              <h6>July 2024 - Present</h6>
              <p><em>Remote</em></p>
              <ul>
                <li>Developing predictive model for Career Vision.</li>
                <li>Participated in industry workshops and project sessions focusing on Career Vision and Internship Training.</li>
              </ul>
              <a href="https://github.com/your-github-repo" target="_blank"><button>GitHub Repo</button></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-4 logo-center">
          <a href="https://www.coderscave.com/" target="_blank">
            <img src="../static/icons/coderscave_logo.png" alt="CodersCave Logo" width="150" height="150" class="img-fluid">
          </a>
        </div>
        <div class="col-lg-8">
          <div class="exp">
            <h3 class="company-title">CodersCave</h3>
            <div class="experience-item">
              <h5>Data Science Intern</h5>
              <h6>Jan 2024 - Feb 2024</h6>
              <p><em>Remote</em></p>
              <ul>
                <li>Conducted comprehensive customer behavior analysis using exploratory data analysis (EDA) and data visualization techniques.</li>
                <li>Performed advanced data manipulation and time series analysis on historical stock prices, showcasing proficiency in statistical interpretations and feature engineering.</li>
                <li>Developed climate pattern analysis and a spam filter using natural language processing (NLP) and machine learning for text classification and model evaluation.</li>
                <li>Enhanced skills in Python, Pandas, and NumPy, with a focus on programming, data analysis, machine learning, and NLP.</li>
              </ul>
              <a href="https://github.com/sSumankumari/CVIP-Projects" target="_blank"><button>GitHub Repo</button></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-4 logo-center">
          <a href="https://oasisinfobyte.com/" target="_blank">
            <img src="../static/icons/oasis_infobyte_logo.jpeg" alt="Oasis Infobyte Logo" width="150" height="150" class="img-fluid">
          </a>
        </div>
        <div class="col-lg-8">
          <div class="exp">
            <h3 class="company-title">Oasis Infobyte</h3>
            <div class="experience-item">
              <h5>Data Science Intern</h5>
              <h6>Jan 2024 - Feb 2024</h6>
              <p><em>Remote</em></p>
              <ul>
                <li>Led multiple Python projects including Iris Flower Classification, Unemployment Analysis, Car Price Prediction, Email Spam Detection, and Sales Prediction.</li>
                <li>Managed end-to-end data processing from data cleaning to machine learning model training, applying advanced statistical techniques for insightful analysis.</li>
                <li>Developed impactful data visualizations and presentations to effectively communicate complex findings.</li>
              </ul>         
              <a href="https://github.com/sSumankumari/Oasis-Infobyte-SIP" target="_blank"><button>GitHub Repo</button></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Experiences Section -->
  

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Projects</h2>
        <p>My projects</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">ML Model</li>
            <li data-filter=".filter-card">EDA</li>
            <li data-filter=".filter-web">Chatbot</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>ML model 1</h4>
              <p>ML model</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Chatbot 3</h4>
              <p>Chatbot</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>ML model 2</h4>
              <p>ML model</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>EDA 1</h4>
              <p>EDA</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">

    <div class="container">
    
      <div class="section-title">
        <h2>Contact Me</h2>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="info-box mb-4">
            <i class="bx bx-map"></i>
            <h3>My Address</h3>
            <p>Patna - 801505, Bihar, India</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p>sumank.ds1@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 mt-4 mt-md-0">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <a href="https://www.linkedin.com/in/sumaninsights/" class="linkedin"><i class="bi bi-linkedin"></i></a>
              <a href="https://github.com/sSumankumari/" class="github"><i class="bi bi-github"></i></a>
              <a href="https://www.instagram.com/ssumankumarii?igsh=MzcwY2Q2b21ydDl2" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://x.com/SumanKri023" class="twitter"><i class="bi bi-twitter"></i></a>
            </div>
          </div>
        </div>

      </div>

    </div><!-- End Contact -->

  </section><!-- End Contact Section -->

  <!-- ======= Footer ======= -->
  <footer>
    <p>&copy; 2024 Suman Kumari. All Rights Reserved.</p>
  </footer><!-- End Footer -->

  <!-- Vendor JS Files -->
  <script src="../vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>